<div class="container d-grid gap-2 mb-3">
  <button type="button" class="btn btn-link" onclick="location.href = '/{{userName}}'">
    {{userName}}
  </button>
  <button type="button" class="btn btn-primary" onclick="location.href = '/publicar'">Publicar novo Conteúdo</button>
</div>
{{#each posts}}
<div class="container mb-3">
  <div class="card text-bg-secondary">
    <div class="card-header">
      <small class="d-flex justify-content-between">
        <a href="/blog/post/{{id}}" class="text-white">{{titulo}}</a>
        <span class="badge bg-primary">{{post_like}}</span>
      </small>
    </div>
    <div class="card-body">
      <small>
        {{data}}
        <br>
        <a href="/blog/post/{{id}}">Ir para o post</a>
      </small>
    </div>
  </div>
</div>
{{/each}}