{{#each user}}
<div class="container">
  <h3 class="d-flex align-items-center">
  <img src="/posts/{{foto}}" alt="{{foto}}" class="rounded-circle mr-3" height="50" width="50">
    <a href="/{{nome}}" class="text-white">{{nome}}</a>
  </h3>
  <hr>
  <div class="card text-bg-dark">
    <div class="card-header">
      <h5 class="card-title">Informações Adicionais</h5>
    </div>
    <div class="card-body">
      <small class="mb-3">
        <span class="text-decoration-underline">Ativo desde</span>:
        <small>
          {{createdAt}}
        </small>
      </small>
      <div class="card text-bg-dark">
        <div class="card-header">
          <h5 class="card-title">Biografia</h5>
        </div>
        <div class="card-body">
          {{{biografia}}}
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <button type="button" class="btn btn-danger" onclick="location.href = '/delete/account/id/{{id}}'">
        Deletar Conta
      </button>
      <button type="button" class="btn btn-primary" onclick="location.href = '/editar/perfil'">
        Editar Conta
      </button>
    </div>
  </div>
</div>
{{/each}}