{{#each post}}
<div class="container">
  <div class="card text-bg-dark">
    <div class="card-header">
      <small class="d-flex justify-content-between">
        <a href="/{{nome}}">{{nome}}</a>
        <span class="badge bg-primary">
          {{post_like}}
        </span>
      </small>
    </div>
    <div class="card-body">
      <h3>
        <i>{{titulo}}</i>
      </h3>
      {{{conteudo}}}
    </div>
    <div class="card-footer">
      <small class="d-flex justify-content-between">
        <small>
          {{{data}}}
        </small>
        <form action="/blog/post/{{id}}/like" method="post">
          <button class="btn btn-outline-danger">Curtir
            <span class="badge bg-primary">{{post_like}}</span>
          </button>
        </form>
      </small>
    </div>
  </div>
  <br>
  <div class="card text-bg-dark">
    <div class="card-header">
      <h5>Comentar</h5>
    </div>
    <div class="card-body">
      <form action="/blog/post/{{id}}/comment" method="post">
        <div class="mb-3">
          <label for="comentario">Comentário</label>
          <textarea class="form-control form-control-dark text-bg-dark" id="comentario" name="comentario" style="height: 144px;" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-outline-success">Comentar</button>
          <button type="reset" class="btn btn-outline-danger">Limpar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/each}}